<h2>Balance</h2>

<p><a href="/budgets">Total Budget: <%= Budget.total %></a></p>
<p><a href="/transactions">Total Spending: <%= Transaction.total_amount_spent %></p></a>
<p>Net: <%= Budget.total - Transaction.total_amount_spent %></p>

<% if Transaction.total_amount_spent > Budget.total %>
<%= "Warning, total expenditure is over budget by
#{Budget.total.to_i - Transaction.total_amount_spent.to_i}" %>
<% else %>
<%= "Total expenditure is below budget by
#{Budget.total - Transaction.total_amount_spent}" %>
<% end %>

<h3>Amount spent by category</h2>

<table>
  <tr>
    <th>Transaction Category</th>
    <th>Transaction Amount</th>
      <th>Budget Assigned</th>
  </tr>
  <% @transactions.each do |transaction| %>
  <tr>
    <td><a href="/transactions/category/<%= transaction.category.name %>">
    <%= transaction.category.name %></td>
    <td><%= transaction.category.amount_spent %></td>
    <td><%= transaction.budget.amount_set %></td>
  </tr>
  <% end %>






</table>
