<h2>Balance</h2>

<p>Total Budget: <%= Budget.total %></p>
<p>Total Spending: <%= Transaction.total_amount_spent %></p>
<p>Net: <%= Budget.total - Transaction.total_amount_spent %></p>

<% if Transaction.total > Budget.total %>
<%= "Warning, total expenditure is over budget by
#{Transaction.total.to_i - Budget.total.to_i}" %>
<% else %>
<%= "Total expenditure is below budget by
#{Budget.total - Transaction.total}" %>
<% end %>

<h3>Amount spent by category</h2>

<table>
  <tr>
    <th>Transaction Category</th>
    <th>Transaction Amount</th>
  </tr>
  <% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= category.amount_spent %></td>
  </tr>
  <% end %>




</table>
