<h2>Balance for specified months</h2>

<p>Total Budget: <%= @budget_total_months %></p>
<p>Total Spending: <%= @transaction_total_months %></p>
<p>Net: <%= @budget_total_months - @transaction_total_months %></p>

<% if @transaction_total_months > @budget_total_months %>
<%= "Warning, total expenditure is over budget for the month by
#{@transaction_total_months - @budget_total_months}" %>
<% else %>
<%= "Total expenditure is below budget for the month by
#{@budget_total_months - @transaction_total_months}" %>
<% end %>
