<h2>Transactions by selected Vendor</h2>

<table>
  <tr>
    <th>Transaction ID</th>
    <th>Transaction Date</th>
    <th>Transaction Amount</th>
    <th>Transaction Category</th>
    <th>Transaction Vendor</th>
  </tr>
  <% @transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.id %></td>
    <td><%= transaction.transaction_date %></td>
    <td><%= transaction.amount %></td>
    <td><%= transaction.category.name %></td>
    <td><%= transaction.vendor.name %></td>
  </tr>
  <% end %>
  <tr>
    <td> N/A </td>
    <td> N/A </td>
    <td><%= @transactions_total%></td>
    <td> N/A </td>
    <td> N/A </td>
  </tr>

</table>
