<h2>All Transactions</h2>

<form class="vishal" action="/transactions/date_range" method="get">

  <label for="transaction_date_input">Select Date:</label>
  <input required id="transaction_date_input" type="date"
  name="start_date" value="">

  <label for="transaction_date_input">Select Date:</label>
  <input required id="transaction_date_input" type="date"
  name="end_date" value="">

<input type="submit" name="" value="submit">

  <label for="category_select">Select Category:</label>
  <select class="" name="category_id" id="category_select">
    <% @categories.each do |category| %>
    <option value=<%= category.id %>><%= category.name.capitalize %></option>
          <% end %>
  </select>

<input type="submit" name="" value="submit" formaction="/transactions/history/category/">

</form>

<table>
  <tr>
    <th>View</th>
    <th>Transaction ID</th>
    <th>Transaction Date</th>
    <th>Transaction Amount</th>
    <th>Transaction Category</th>
    <th>Transaction Vendor</th>
  </tr>
  <% @transactions.each do |transaction| %>
  <tr>
    <td><a href="/transactions/<%= transaction.id %>">View</a></td>
    <td><%= transaction.id %></td>
    <td><%= transaction.transaction_date %></td>
    <td>£<%= transaction.amount %></td>
    <td><%= transaction.category.name %></td>
    <td><%= transaction.vendor.name %></td>
  </tr>
  <% end %>

</table>

<h3>Total Transaction Amount is: £<%= Transaction.total_amount_spent %>
against a total budget of £<%= Transaction.total_budget %></h2>
