<h2>All Budgets</h2>

<form class="vishal" class="" action="/budgets/date_range" method="get">

  <label for="date_select">Select Start Month and Year:</label>
  <select class="" name="start_date" id="date_select">
    <% @unique_year_months.each do |date| %>
    <option value=<%= date %>><%= date.strftime("%Y-%m") %></option>
          <% end %>
  </select>


  <label for="date_select">Select End Month and Year:</label>
  <select class="" name="end_date" id="date_select">
    <% @unique_year_months.each do |date| %>
    <option value=<%= date %>><%= date.strftime("%Y-%m") %></option>
          <% end %>
  </select>

<input type="submit" name="" value="submit">

  <label for="category_select">Select Category:</label>
  <select class="" name="category_id" id="category_select">
    <% @categories.each do |category| %>
    <option value=<%= category.id %>><%= category.name.capitalize %></option>
          <% end %>
  </select>

<input type="submit" name="" value="submit" formaction="/budgets/history/category/">

</form>











<table>
  <tr>
  <th>View</th>
    <th>Budget ID</th>
    <th>Budget Category</th>
    <th>Budget Amount</th>
    <th>Budget Year and Month</th>
  </tr>
  <% @budgets.each do |budget| %>
  <tr>
    <td><a href="/budgets/<%= budget.id %>">View</a></td>
    <td><%= budget.id %></td>
    <td><%= budget.category.name %></td>
    <td><%= budget.amount_set %></td>
    <td><%= budget.start_date[0,7] %></td>
  </tr>
  <% end %>
</table>




<h3>Total Budget assigned is £<%= Budget.total %></h3>
