<h2>Budget for specified months</h2>

<table>
  <tr>
    <th>Budget ID</th>
    <th>Budget Category</th>
    <th>Budget Amount</th>
    <th>Budget Start Date/th>
    <th>Budget End Date</th>
  </tr>
  <% @budgets.each do |budget| %>
  <tr>
    <td><%= budget.id %></td>
    <td><%= budget.category.name %></td>
    <td><%= budget.amount_set %></td>
    <td><%= budget.start_date %></td>
    <td><%= budget.end_date %></td>
  </tr>
  <% end %>
  <tr>
    <td> N/A </td>
    <td> N/A </td>
    <td><%= @total %></td>
    <td> N/A </td>
    <td> N/A </td>
  </tr>

</table>
